
.app-header {
    align-items: flex-end;
}

.app-header h1 {
    flex-grow: 1;
}

.app-header h2 {
    font-size: 1.2rem;
    color: grey;
}

.app-title {
    line-height: 1em;
    color: #4c5567;
    font-weight: 700;
}